<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta charset="utf-8" />
     <title>{% block title %} {% endblock %}</title>
     <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}" />
</head>
<body>
     <div>
          <li style="display:inline"><a href="{{url_for('home')}}">Home</a></li>
          {% if session['user_id'] %}
          <li style="display:inline"><a href="{{url_for('create')}}">Create</a></li>
          <li style="display:inline"><a href="{{url_for('logout')}}">Logout</a></li>
          <li style="display:inline"><a href="{{url_for('user_page', user_id = session['user_id'])}}">My Blogs</a></li>
          {% else %}
          <li style="display:inline"><a href="{{url_for('login')}}">Login</a></li>
          <li style="display:inline"><a href="{{url_for('signup')}}">Sign-up</a></li>
          {% endif %}
     </div>
     <div id="content">
          {% block content %} {% endblock %}
     </div>
</body>
</html>